# Exercícios – Acessando o SQLite com o Python

## 1. Implemente um código Python para:

### Criar um banco de dados, DBProdutos.db

### Criar a tabela produto, com os seguintes campos:

- idProduto: integer
- nome: varchar(100)
- preco: numeric

### Inserindo dados

Inserir 6 linhas na tabela produto, com os dados definidos por você
Inserir uma nova linha contendo somente o idProduto e o nome (o preço do produto será NULL)

### Listando dados



Executar uma instrução SQL para:
- Listar o idProduto e nome de todos os produtos da tabela produto

- Listar todos os dados dos produtos cujo preço seja maior ou igual a R$ 50,00

Carregar os dados da tabela produto para um dataframe Pandas, e exibir os dados do dataframe.

Realizar o download do banco de dados DBProdutos.db e abri-lo no site www.sqliteonline.com.

Inserir 6 linhas na tabela produto, com os dados definidos por você
Inserir uma nova linha contendo somente o idProduto e o nome (o preço do produto será NULL)

2. Carregar os dados do arquivo csv das temperaturas da cidade de Londres. disponível em https://github.com/alanjones2/dataviz/raw/master/londonweather.csv, para uma base de dados SQLite.

Copiar os dados para a tabela temperatura, em um banco de dados chamado 
DBTemperaturasLondres.db

Criar uma consulta SQL para retornar o mês, e as temperaturas máximas e mínimas do ano de 2018. Executar a consulta e armazenar os dados em um dataFrame Pandas.
Exibir os dados do dataFrame

Gravar os dados do dataFrame em uma tabela temperatura_2018, no banco de dados DBTemperaturasLondres.db (desconsiderar o índice do dataframe ao gravar os dados nessa tabela).
Plotar um gráfico de linhas exibindo a variação da temperatura mínima durante o ano de 2018, utilizando esse dataFrame.

Realizar o download do banco de dados DBTemperaturasLondres.db e abri-lo no site www.sqliteonline.com.