### Conexão ao Banco

Irá concetar ao banco de dados alunos.db.

In [5]:
import sqlite3
conexao = sqlite3.connect('aluno.db') #cria o banco de dados aluno.db, caso não exista

In [6]:
conexao

Pode-se gerenciar atraves de: https://sqliteonline.com/

### Criação da tabela

In [7]:
sql = 'create table aluno('\
'idAluno integer primary key autoincrement,'\
'nome varchar(100) not null,'\
'sexo char)'

In [8]:
sql

'create table aluno(idAluno integer primary key autoincrement,nome varchar(100) not null,sexo char)'

In [9]:
cursor = conexao.cursor() #retorna um cursor para manipulação do banco de dados    
cursor.execute(sql) #cria a tabela aluno no banco de dados

### Inserindo dados

In [16]:
import numpy as np

sql = 'insert into aluno (nome, sexo) values(?,?)'

cursor.execute(sql, ['Alexandre', 'M']) #insere apenas um registro

In [17]:

alunos = [['Sílvia', 'F'], ['Carlos','M'], ['Maria', 'F'], ['João', np.NaN]]

#inserindo diversos registros
for aluno in alunos:
    cursor.execute(sql, aluno)
    
conexao.commit()

### Retornando os dados

In [18]:
sql = 'select * from aluno'

cursor.execute(sql)

In [19]:
alunos = cursor.fetchall()
print(alunos)

[(1, 'Alexandre', 'M'), (2, 'Sílvia', 'F'), (3, 'Carlos', 'M'), (4, 'Maria', 'F'), (5, 'João', None), (6, 'Alexandre', 'M'), (7, 'Sílvia', 'F'), (8, 'Carlos', 'M'), (9, 'Maria', 'F'), (10, 'João', None)]

In [20]:
for aluno in alunos:
    print(aluno)

(1, 'Alexandre', 'M')
(2, 'Sílvia', 'F')
(3, 'Carlos', 'M')
(4, 'Maria', 'F')
(5, 'João', None)
(6, 'Alexandre', 'M')
(7, 'Sílvia', 'F')
(8, 'Carlos', 'M')
(9, 'Maria', 'F')
(10, 'João', None)

### Atualizando dados

In [22]:
sql = 'update aluno '\
' set nome = ?'\
' where idAluno = ?'

cursor.execute(sql, ['Alexandre Siqueira Dias', 1]) 

conexao.commit()

### Excluindo dados

In [21]:
sql = 'delete from aluno where idAluno = ?'
cursor.execute(sql, [1]) 
conexao.commit()

### Retornando registros de tabelas do banco de dados com filtro

In [ ]:
sql = 'select * from aluno where idaluno >= ? and sexo = ?'

cursor.execute(sql, [2, 'F'])
alunos = cursor.fetchall()

for id, nome, sexo in alunos: #acessando cada campo individualmente
    print(id, nome, sexo)

In [ ]:
sql = 'select * from aluno where sexo is null'

cursor.execute(sql)
alunos = cursor.fetchall()

print(alunos)

### Carregando dados do SQLite para o pandas

In [ ]:
import pandas as pd
import sqlite3

# Carregando dados do SQLite para o pandas
df = pd.read_sql_query("SELECT * from aluno", conexao)
df

In [ ]:
import pandas as pd
import sqlite3

# Carregando dados do SQLite para o pandas
df = pd.read_sql_query("SELECT * from aluno", conexao)

df['sexo'].value_counts()

df['sexo'].value_counts().plot(kind = 'bar')

### Gravando um dataframe do Pandas em um banco SQLite (dataSet de histórico de temperaturas da cidade de Londres)

In [ ]:
import pandas as pd
df = pd.read_csv('https://github.com/alanjones2/dataviz/raw/master/londonweather.csv')

import sqlite3
conn = sqlite3.connect('weather.db')
df.to_sql('temperatura', conn, if_exists='replace') #{'fail', 'replace', 'append'}, default 'fail'

### Gravando um dataframe do Pandas em um banco SQLite (dataSet de histórico de temperaturas da cidade de Londres) (sem o índice)

In [ ]:


import pandas as pd
df = pd.read_csv('https://github.com/alanjones2/dataviz/raw/master/londonweather.csv')

import sqlite3
conn = sqlite3.connect('weather.db')
df.to_sql('temperatura_new', conn, if_exists='replace', index = False) #{'fail', 'replace', 'append'}, default 'fail'

### Plotando gráfico comparativo das temperaturas máximas nos anos de 2018 e 2017

In [ ]:


y2018 = pd.read_sql('SELECT * FROM temperatura WHERE Year == 2018', conn)
y2017 = pd.read_sql('SELECT * FROM temperatura WHERE Year == 2017', conn)

ax2018 = y2018.plot(y = 'Tmax')
ax = y2017.plot(y='Tmax',color = 'red', ax=ax2018)
ax.legend(['2017','2018'])

### Plotando gráfico das temperaturas no mês de janeiro

In [ ]:
mesJaneiro = pd.read_sql('SELECT year, tmax FROM temperatura WHERE month = 1', conn)
#Gráfico de linhas
mesJaneiro.plot(y='Tmax', x = 'Year')

#Gráfico de barras
mesJaneiro.plot(y='Tmax', x = 'Year', kind = 'bar', figsize=(20,5));

### Plotando gráfico dos meses de maior temperatura

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
mesMaior = pd.read_sql('SELECT Month, tmax FROM temperatura WHERE tmax > 24', conn)

mesMaior['Month'].value_counts()
mesMaior['Month'].value_counts().plot(kind = 'bar')